.rside { width: 30%; float: right }
.rside .news { background: #fff; margin: 20px 20px 20px 0; border: 1px solid #e2e2e2; }
.rside .news ul { padding: 10px }
.rside .news ul li { display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; height: 28px; width: 96%; line-height: 28px; font-size: 14px; background: url(../images/li.png) no-repeat left center; padding-left: 15px; }
.rside .news ul li span { float: right; color: #999; font-size: 12px; margin-left: 20px; }
.rside .news ul li a:hover { color: #09B1B9; }
/* pagelist */
.pagelist { text-align: center; color: #666; width: 100%; clear: both; margin: 20px 0; padding-top: 20px }
.pagelist a { color: #666; margin: 0 2px 5px; border: 1px solid #d2d2d2; padding: 5px 10px; display: inline-block; background: #fff; }
.pagelist a:hover { color: #09B1B9; }
.pagelist > b { border: 1px solid #09b1b9; padding: 5px 10px; background: #09b1b9; color: #fff; }
/*contentbox*/
.contentbox { border: 1px solid #E1E1E1; margin: 20px; background: #FFF; padding: 20px }
.contitle { font-size: 20px; line-height: 26px; margin-bottom: 20px }
.contentbox .bloginfo { margin-left: 0 }
.contentbox .jianjie { margin: 20px 0; background: #f7f7f7; padding: 10px; }
.jianjie b { color: #09b1b9; margin-right: 5px; }
.entry p {  margin: 5px 0 10px; color: #666; font-size: 14px; line-height: 180%; word-break: break-all; }
.entry img { max-width: 100% }
.down { background: #FFFCEF; border: 1px solid #FFBB76; border-radius: 2px; font-size: 14px; margin: 20px; padding: 15px 20px; line-height: 26px; }
.down p:first-child { margin-bottom: 15px }
.downlink { overflow: hidden; margin: 20px 0; }
.downbtn { background: #1BA1E2; border-radius: 2px; color: #FFFFFF; font-size: 14px; padding: 8px 30px; line-height: 35px; }
.share { margin: 20px; }
.nextinfo { margin: 20px 0 }
.nextinfo p { padding: 4px 20px; }
.nextinfo a:hover { color: #09B1B9; text-decoration: underline }
.viewbox { border: 1px solid #E1E1E1; margin: 20px; background: #FFF; }
.viewbox ul { padding: 10px; overflow: hidden }
.viewbox ul li { width: 25%; float: left; overflow: hidden }
.viewbox ul li a { margin: 0 8px; display: block }
.viewbox ul li i { overflow: hidden; display: block }
.viewbox ul li img { width: 100% }
.viewbox ul li p { line-height: 18px; font-size: 14px; color: #666; margin: 10px 0 }
.viewbox ul li:hover p { color: #09B1B9; }
.viewbox ul li span { color: #999; font-size: 12px; line-height: 20px; }
.pinlun { border: 1px solid #E1E1E1; margin: 20px; background: #FFF; }
.gbok { padding: 20px }
/*media*/
#mnav { }
#mnav a { color: #FFF }
#mnavh { display: none; width: 30px; height: 40px; float: right; text-align: center; padding: 0 5px }
.navicon { display: block; position: relative; width: 30px; height: 5px; background-color: #FFFFFF; margin-top: 20px }
.navicon:before, .navicon:after { content: ''; display: block; width: 30px; height: 5px; position: absolute; background: #FFFFFF; -webkit-transition-property: margin, -webkit-transform; transition-property: margin, -webkit-transform; transition-property: margin, transform; transition-property: margin, transform, -webkit-transform; -webkit-transition-duration: 300ms; transition-duration: 300ms; }
.navicon:before { margin-top: -10px; }
.navicon:after { margin-top: 10px; }
.open .navicon { background: none }
.open .navicon:before { margin-top: 0; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.open .navicon:after { margin-top: 0; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
.open .navicon:before, .open .navicon:after { content: ''; display: block; width: 30px; height: 5px; position: absolute; background: #fff; }
#mside { display: none }
@media screen and (min-width: 960px) and (max-width: 1023px) {
    .top-nav { float: right; margin-left: 0 }
    .top-nav ul li { padding-right: 23px; }
    .newsbox .news ul li span { display: none }
    .newsbox .news { margin: 0 5px 0 0 }
    .picbox { margin: 10px }
    .blogtext { -webkit-line-clamp: 2; }
    .bloglist li { margin-bottom: 10px }
    .rside .news ul li span { display: none }
    .bloglist { margin: 10px; }
    .rside .news { margin: 10px 10px 10px 0; }
    .links { margin: 0 10px 10px 10px; }
    .contentbox { margin: 10px }
    .viewbox { margin: 10px }
    .pinlun { margin: 10px }
}